<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <!-- Service Bus specific app setings for messaging connections -->
      <add key="serviceBusNamespace" value="[your namespace]" />
      <add key="serviceBusTopicName" value="pubsub" />
      <add key="serviceBusKeyName"   value="Write" />
      <add key="serviceBusAccessKey" value="[your 'Write' access key]" />
    </appSettings>
</configuration>